h1 {
    color: rgb(0, 0, 255);
}

img {
    width: 400px;
}

.divclass {}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: green;
    padding: 50px;
    border: 2px solid black;

}


#spanId {
    font-size: 18px;
    margin: 50px;
}