
    body{
        background-color: gray;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #container{
        width: 1px;
       margin: 1px;
        border: 1px; background-color: black;
        
    }
header{
    background-color: burlywood;
    height: 100px;
    width: 1300px;
    margin: 00px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black; 
}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
   

}